# Frontend
NEXT_PUBLIC_STRAPI_URL=http://localhost:1337
STRAPI_URL=http://localhost:1337

# Database
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_NAME=project_db
DATABASE_USERNAME=project_user
DATABASE_PASSWORD=project_password

# Strapi
HOST=0.0.0.0
PORT=1337